html,
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import 'variables';

.calendar {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: $cell-row-gap $cell-column-gap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(

  $cell-size * $calendar-columns + $cell-column-gap *
      ($calendar-columns - 1) + $calendar-padding-x * 2
  );
  padding: $calendar-padding-y $calendar-padding-x;

  &__day {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    line-height: 1;
    width: $cell-size;
    height: $cell-size;
    border: 1px solid $border-color;
    font-family: $font-family;
    font-size: $font-size;
    background-color: $cell-color;
    transition:
      background-color $transition-duration,
      transform $transition-duration;

    &:hover {
      cursor: pointer;
      z-index: 10;
      transform: translateY($hover-translate);
      background-color: $cell-hover-color;
    }




    @for $i from 1 through 31 {
        &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
  }

    @for $length from 28 through 31 {
       &--month-length-#{$length} {
      .calendar__day:nth-child(n + #{$length + 1}) {
        display: none;
      }
    }
  }
}


  $start-day-offsets: (
    sun: 6,
    mon: 0,
    tue: 1,
    wed: 2,
    thu: 3,
    fri: 4,
    sat: 5,
  );


  $col-step: $cell-size + $cell-column-gap;

  @each $day, $offset in $start-day-offsets {
    .calendar--start-day-#{$day} {
    .calendar__day:nth-of-type(1) {
     margin-left: $offset * $col-step;

    }
  }
}
